<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moshu.trainplatform.mapper.RecordMapper">

    <select id="listRecord" resultType="com.moshu.trainplatform.vo.RecordVO">
        SELECT u.`user_id`,
               u.`user_name`        AS username,
               COUNT(r.`id`)        AS count,
               MAX(r.`submit_time`) AS submit_time,
               MIN(r.`create_time`) AS create_time,
               MAX(r.`update_time`) AS update_time
        FROM `user_info` u
                 JOIN `record` r ON u.`user_id` = r.`user_id`
        GROUP BY u.`user_id`,
                 `username`

    </select>

    <select id="listRecordByUserId" resultType="com.moshu.trainplatform.vo.RecordVO" parameterType="java.lang.String">
        SELECT r.`id`,
               `record_name`,
               `user_id`,
               COUNT(s.`id`)      AS count,
               `status`,
               MAX(`submit_time`) AS submit_time,
               r.`create_time`,
               r.`update_time`
        FROM `record` r
                 LEFT JOIN `soil_sample` s ON r.`id` = s.`record_id`
        WHERE `user_id` = #{userId}
        GROUP BY r.`id`
        ORDER BY submit_time DESC

    </select>

    <select id="getRecordByUserId" resultType="com.moshu.trainplatform.vo.RecordVO">
        SELECT u.`user_id`,
               u.`user_name`        AS username,
               COUNT(r.`id`)        AS count,
               MAX(r.`submit_time`) AS submit_time,
               MIN(r.`create_time`) AS create_time,
               MAX(r.`update_time`) AS update_time
        FROM `user_info` u
                 LEFT JOIN `record` r ON u.`user_id` = r.`user_id`
        WHERE u.`user_id` = #{userId}
        GROUP BY u.`user_id`,
                 `username`

    </select>



</mapper>