<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moshu.trainplatform.mapper.SoilSampleMapper">


    <select id="listByRecordId" resultType="com.moshu.trainplatform.vo.SoilSampleVO">
        SELECT ss.`id`,
               `sample_name`,
               `sample_type_id`,
               st.`sample_type_name`,
               `color`,
               `smell`,
               `organism`,
               `hardness`,
               `size_gt2mm`,
               `size_lt2mm`,
               `viscosity`,
               `humidity`,
               `density`,
               `water_retention`,
               ss.`create_time`,
               ss.`update_time`
        FROM `soil_sample` ss
                 JOIN `sample_type` st ON ss.`sample_type_id` = st.`id`
        WHERE `record_id` = #{recordId}
    </select>
</mapper>